*{
    box-sizing: border-box;
}

/* The Body */
body{
    margin: 0;
    padding: 0;
    background-color: hsl(217, 28%, 15%);
    font-family: 'Open Sans', sans-serif;
    width: 100%;
}

/* The Nav bar */
.nav-bar{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.nav-image{
    padding-left: 40px;
}

.nav-links ul{
    list-style-type: none;
    display: flex;
}

.nav-links ul li a{
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    padding-left: 50px;
    color: hsl(0, 0%, 100%);
}

.nav-links ul li a:hover{
    text-decoration: underline;
}

/* illustration-intro */

.illustration-intro{
    margin-top: -100px;
    position: relative;
    top: 200px;
}

.intro-image img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.inner-intro{
    text-align: center;
    color: hsl(0, 0%, 100%);
}

.inner-intro p{
    margin-left: auto;
    margin-right: auto;
    width: 350px;
}

.intro-button{
    padding: 15px 60px 15px 60px;
    background-color: hsl(198, 60%, 50%);
    border-radius: 20px;
    color: hsl(0, 0%, 100%);
    outline: none;
    border: none;
    cursor: pointer;
}

.intro-button:hover{
    background-color: hsl(176, 68%, 64%);
}

/* The showcase, contains icons  */

.showcase{
    width: 100%;
    color: hsl(0, 0%, 100%);
    background-image: url(images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
}

.inner-showcase{
    background-color: hsl(218, 28%, 13%);
    padding-top: none;
    padding-bottom: 100px;
}

.inner-four-divs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    gap: 150px;
    margin-bottom: 80px;
}

.productive{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 95%;
    gap: 100px;
    margin-bottom: 80px;
}

.productive-image{
    margin-left: 50px;
}

.inner-productive{
    margin-top: auto;
    margin-bottom: auto;
}

.inner-productive h1{
    width: 300px;
}

.inner-productive a{
    text-decoration: none;
    color: hsl(176, 68%, 64%);
    border-bottom: 2px solid hsl(198, 60%, 50%);
}

.inner-productive a:hover{
    color: hsl(0, 0%, 100%);
    border-bottom: 2px solid hsl(0, 0%, 100%);
}

/* Testimonial section */


.quote-mark{
    margin-left: 40px;
}

.inner-quotes{
    position: relative;
    bottom: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    gap: 30px;
}

.testimonials{
    background-color: hsl(219, 30%, 18%);
    padding: 20px;
    box-shadow: 10px 10px 20px hsl(216, 53%, 9%);
}

.about{
    display: flex;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 10px;
}

.occupation{
    margin-left: -85px;
    margin-top: 25px;
    font-size: 12px;
}

.occupation2{
    margin-left: -115px;
    margin-top: 25px;
    font-size: 12px;
}

.occupation3{
    margin-left: -60px;
    margin-top: 25px;
    font-size: 12px;
}

/* Access Section */

.access{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    top: 320px;
    margin-bottom: 100px;
    box-shadow: 10px 10px 20px hsl(216, 53%, 9%);
}

.access p{
    font-size: 14px;
}

input{
    width: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;
    border: none;
    margin-right: 20px;
}

.access-button{
    padding-top: 10px;
    padding-bottom: 10px; 
    padding-left: 40px;
    padding-right:40px;
    background-color: hsl(198, 60%, 50%);
    color: white;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
}

.access-button:hover{
    background-color: hsl(176, 68%, 64%);
}


footer{
    background-color: hsl(216, 53%, 9%);
    color: hsl(0, 0%, 100%);
}

/* The Footer */
.inner-footer{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    font-size: 14px;
    padding-bottom: 100px;
}

.last-footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 50px;
}

.address{
    width: 400px;
    display: flex;
    margin-top: 20px;
}

.address-image{
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.inner-address{
    margin-top: -5px;
}

.contact{
    cursor: pointer;
}

.contact img{
    padding-right: 12px;
}

.blogs-links ul li{
    list-style-type: none;
    padding-bottom: 10px;
    cursor: pointer;
}

.blogs-links ul li:hover{
    font-weight: bolder;
}

.contact-links ul li{
    list-style-type: none;
    padding-bottom: 10px;
    cursor: pointer;
}

.contact-links ul li:hover{
    font-weight: bolder;
}

.icons i{
    padding: 5px;
}

.facebook, .twitter, .instagram{
    font-size: 25px;
    cursor: pointer;
}

.facebook:hover, .twitter:hover, .instagram:hover{
    color: hsl(176, 68%, 64%);
}

@media screen and (max-width: 480px){

    .nav-bar{
        width: 50%;
        justify-content: none;
    }

    .nav-image{
        width: 90px;
        height: 40px;
    }

    .nav-links ul li{
        margin-left: -20px;
    }



    .intro-image img{
        width: 80%;
    }

    /* The showcase, contains icons  */

    .showcase{
    width: 100%;
    background-image: url(images/bg-curvy-mobile.svg);
    background-repeat: no-repeat;
    }

    .inner-four-divs{
        padding-top: 150px;
        grid-template-columns: 1fr;
    }
    .productive{
        grid-template-columns: 1fr;
    }

    .productive-image{
        height: 200px;
        width: 300px;
    }

    .inner-productive{
        margin-left: 50px;
    }

    .inner-quotes{
        grid-template-columns: 1fr;
    }

    .access{
        width: 90%;
        padding-right: 100px;
    }

    .inner-access{
        width: 300px;
        position: relative;
        right:70px;
    }

    .access-button{
        display: block;
        margin-top: 10px;
        margin-left: 10px;
        padding-left: 80px;
        padding-right:80px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 300px;
        position: relative;
        right: 80px;
    }

    .error{
        margin-left: -80px;
    }

    input{
        width: 300px;
        position: relative;
        right:70px;
    }

    .last-footer{
        grid-template-columns: 1fr;
    }

    .inner-address{
        width: 80%;
        margin-bottom: -50px;
    }

    .icons{
        text-align: center;
    }
}